.card{
  width: 320px;
  padding: 20px;
  border: 1px solid #c9c9c9;
  border-radius: 7px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.carddiv{

 
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
}
#cardhead{
 background-color: #fa8072;

 background-image: url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");

}
#confid{
  text-shadow: 2px 2px #D2691E;
 
}
h3{
color: whitesmoke;
}
#newconfid{
  
  text-shadow: 2px 0px #D2691E
}
.card-body{
  background-color: black;
  background-image: url("https://i.pinimg.com/originals/bd/af/76/bdaf7600ad567b8251d9951c5e397420.jpg");
}
.card{
  background-image: url("https://i.pinimg.com/originals/bd/af/76/bdaf7600ad567b8251d9951c5e397420.jpg");

}
.table{
  background-image: url("https://i.pinimg.com/originals/bd/af/76/bdaf7600ad567b8251d9951c5e397420.jpg");
color:black; 
}
table {
  border-collapse: separate;
  border-spacing: 160px 0;
}

td {
  padding: 10px 0;
}
table {

  table-layout: fixed;
  width: 200px;
}

th,
td {
  
  width: 100px;
  overflow: hidden;
}
body {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}